model_vim_quant/causal-conv1d/causal_conv1d/__pycache__/*
model_vim_quant/causal-conv1d/build/
model_vim_quant/causal-conv1d/causal_conv1d.egg-info/
model_vim_quant/causal-conv1d/causal_conv1d_cuda.cpython-310-x86_64-linux-gnu.so
model_vim_quant/mamba_1p1p1/mamba_ssm/utils/__pycache__/*
model_vim_quant/mamba_1p1p1/mamba_ssm/ops/triton/__pycache__/*
model_vim_quant/mamba_1p1p1/mamba_ssm/ops/__pycache__/*
model_vim_quant/mamba_1p1p1/mamba_ssm/modules/__pycache__/*
model_vim_quant/mamba_1p1p1/mamba_ssm/__pycache__/*
model_vim_quant/mamba_1p1p1/mamba_ssm/models/__pycache__/*
model_vim_quant/mamba_1p1p1/build/
model_vim_quant/mamba_1p1p1/mamba_ssm.egg-info/
model_vim_quant/mamba_1p1p1/selective_scan_cuda.cpython-310-x86_64-linux-gnu.so
model_vim_quant/output/*
model_vim_quant/data/*
model_vim_quant/logs

model_vim_quant/saved_checkpoint
model_vim_quant/mlruns
model_vim_quant/utils/quantize
**/__pycache__
**/logs
model_image_classification/ckpt
model_image_classification/quantize
model_image_classification/work_dirs
model_image_classification/logs

model_video_classification/ckpt
model_video_classification/quantize
model_video_classification/work_dirs
model_video_classification/logs

model_segmentation/ckpt
model_segmentation/quantize
model_segmentation/runs
model_segmentation/wandb
model_segmentation/logs

saved_checkpoint/*
work_dirs/*

model_llm/logs
model_llm/save
model_vim_quant/quantize

data
data/*

*.jpg
__pycache__/
**/__pycache__/
*.pyc
*.log
*.out
*.pkl
*.pth
# *.txt
*.pth.tar
